<main class="text-center row p-0 m-0 justify-content-center">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Alarmas</li>
      </ol>
    </nav>
    <h1 class="component-title">Alarmas</h1>
    <div class="table-responsive m-2">
      <table class="table table-hover text-center">
        <thead>
        <tr class="table-purple">
          <th scope="col">Estado</th>
          <th scope="col">Fecha Registro</th>
          <th scope="col">Observaciones</th>
          <th scope="col">Resumen</th>
          <th scope="col">Tipo alarma</th>
          <th scope="col">Paciente UCR</th>
          <th scope="col">Número Terminal</th>
          <th scope="col">Teleoperador</th>
          <th></th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let alarma of alarmas"
            app-item-alarma [alarma]="alarma">
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
