<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Eliminar tipo de agenda</h5>
    </div>
    <div class="modal-body">
      <p>¿Desea eliminar el tipo de agenda seleccionado?</p>
    </div>
    <div class="modal-footer">
      <button id="modalNegativo" type="button" class="btn btn-secondary" [routerLink]="['/tipo_agenda']">No</button>
      <button id="modalPositivo" type="button" class="btn btn-primary" (click)="borrarTipoAgenda()">Si</button>
    </div>
  </div>
</div>
