<main class="text-center row p-0 m-0 justify-content-center">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Inicio</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/alarmas']">Alarmas</a></li>
        <li class="breadcrumb-item active" aria-current="page">Crear Alarma</li>
      </ol>
    </nav>
    <h1 class="component-title" >Crear Alarma</h1>
    <form #crearAlarmaForm="ngForm">
      <div class="form-group mb-3">
        <label for="estado_alarma" class="form-label">Estado Alarma</label>
        <input type="text" name="estado_alarma" id="estado_alarma" class="form-control"
               required maxlength="500" [(ngModel)]="alarma.estado_alarma" #estado_alarma="ngModel">
        <div *ngIf="estado_alarma.invalid && (estado_alarma.dirty || estado_alarma.touched)"
             class="alert alert-secondary" role="alert">
          <div *ngIf="estado_alarma.errors?.required">
            El estado_alarma es obligatorio
          </div>
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="fecha_registro" class="form-label">Fecha de registro</label>
        <input type="date" name="fecha_registro" id="fecha_registro" class="form-control"
               required max="{{ anno_actual }}-{{ mes_actual }}-{{ dia_actual }}" [(ngModel)]="alarma.fecha_registro" #fecha_registro="ngModel">
        <div *ngIf="fecha_registro.invalid && (fecha_registro.dirty || fecha_registro.touched)"
             class="alert alert-secondary" role="alert">
          <div *ngIf="fecha_registro.errors?.required">
            La fecha de registro es obligatoria
          </div>
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="observaciones" class="form-label">Observaciones</label>
        <textarea [(ngModel)]="alarma.observaciones" name="observaciones" id="observaciones" class="form-control" required></textarea>

      </div>

      <div class="form-group mb-3">
        <label for="resumen" class="form-label">Resumen</label>
        <textarea [(ngModel)]="alarma.resumen" name="resumen" id="resumen" class="form-control" required></textarea>
      </div>



        <div class="form-group mb-3">
          <label for="tipos_alarma" class="form-label">Tipo de alarma</label>
          <select class="form-select" id="tipos_alarma" name="tipos_alarma"
                  [(ngModel)]="alarma.id_tipo_alarma" required>
            <option *ngFor="let tipo_alarma of tipos_alarmas; let i = index"
                    [value]="tipo_alarma.id">{{tipo_alarma.nombre}}</option>
          </select>
        </div>
      <div class="form-group mb-3">
          <label for="paciente" class="form-label">Paciente UCR</label>
          <select class="form-select" id="paciente" name="paciente"
                  [(ngModel)]="alarma.id_teleoperador" required>
            <option *ngFor="let paciente of pacientes_ucr; let i = index"
                    [value]="paciente.id">{{paciente.numero_expediente}}</option>
          </select>
        </div>
      <div class="form-group mb-3">
        <label for="terminal" class="form-label">Terminal</label>
        <select class="form-select" id="terminal" name="terminal"
                [(ngModel)]="alarma.id_terminal" required>
          <option class="relacion_recurso_option" *ngFor="let terminal of terminales; let i = index"
                  [value]="terminal.id">{{terminal.numero_terminal}}</option>
        </select>
      </div>




      <button type="submit" class="btn btn-outline-success m-1" (click)="nuevaAlarma()"
              [disabled]="!crearAlarmaForm.form.valid">
        Guardar
      </button>
      <button type="button" class="btn btn-outline-secondary m-1" [routerLink]="['/alarmas']">
        Volver
      </button>

    </form>
  </div>
</main>
